div.neo-module-content {
	margin-top: 0;
	padding: 0;
	/*overflow:hidden; 
	-moz-border-radius: 0px 10px 10px 10px;
	-webkit-border-radius: 0px 10px 10px 10px; */
	border-radius: 3px;
	/*border: 1px solid #999;*/
}

#neo-contentbox-maincolumn {
    margin: 0 0 0 15px;
}

.agentStatus {
    padding: 1rem;
    background-color:#f0f0f0;
}

.agentStatusPosition > span {
    padding-left: 1rem;
}

.agentStatusName {
    font-size: 14px;
}

div.neo-module-content *, div.neo-module-content *::before, div.neo-module-content *::after {
    box-sizing :inherit;
}

.logoutOption {
    text-align: right;
}

.mainPosition {
    margin-top: 1rem;
}

/* == Forms ==*/
/* NAV TABS */
.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  .nav-tabs-custom > .nav-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .nav-tabs-custom > .nav-tabs > li {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
  }
  .nav-tabs-custom > .nav-tabs > li.disabled > a {
    color: #777;
  }
  .nav-tabs-custom > .nav-tabs > li > a {
    color: #444;
    border-radius: 0;
  }
  .nav-tabs-custom > .nav-tabs > li > a.text-muted {
    color: #999;
  }
  .nav-tabs-custom > .nav-tabs > li > a,
  .nav-tabs-custom > .nav-tabs > li > a:hover {
    background: transparent;
    margin: 0;
  }
  .nav-tabs-custom > .nav-tabs > li > a:hover {
    color: #999;
  }
  .nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover,
  .nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus,
  .nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
    border-color: transparent;
  }
  .nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #3c8dbc;
  }
  .nav-tabs-custom > .nav-tabs > li.active > a,
  .nav-tabs-custom > .nav-tabs > li.active:hover > a {
    background-color: #fff;
    color: #444;
  }
  .nav-tabs-custom > .nav-tabs > li.active > a {
    border-top-color: transparent;
    border-left-color: #f4f4f4;
    border-right-color: #f4f4f4;
  }
  .nav-tabs-custom > .nav-tabs > li:first-of-type {
    margin-left: 0;
  }
  .nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
    border-left-color: transparent;
  }
  .nav-tabs-custom > .nav-tabs.pull-right {
    float: none !important;
  }
  .nav-tabs-custom > .nav-tabs.pull-right > li {
    float: right;
  }
  .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
    margin-right: 0;
  }
  .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type > a {
    border-left-width: 1px;
  }
  .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
    border-left-color: #f4f4f4;
    border-right-color: transparent;
  }
  .nav-tabs-custom > .nav-tabs > li.header {
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px;
    color: #444;
  }
  .nav-tabs-custom > .nav-tabs > li.header > .fa,
  .nav-tabs-custom > .nav-tabs > li.header > .glyphicon,
  .nav-tabs-custom > .nav-tabs > li.header > .ion {
    margin-right: 5px;
  }
  .nav-tabs-custom > .tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .nav-tabs-custom .dropdown.open > a:active,
  .nav-tabs-custom .dropdown.open > a:focus {
    background: transparent;
    color: #999;
  }
  .nav-tabs-custom.tab-primary > .nav-tabs > li.active {
    border-top-color: #3c8dbc;
  }
  .nav-tabs-custom.tab-info > .nav-tabs > li.active {
    border-top-color: #00c0ef;
  }
  .nav-tabs-custom.tab-danger > .nav-tabs > li.active {
    border-top-color: #dd4b39;
  }
  .nav-tabs-custom.tab-warning > .nav-tabs > li.active {
    border-top-color: #f39c12;
  }
  .nav-tabs-custom.tab-success > .nav-tabs > li.active {
    border-top-color: #00a65a;
  }
  .nav-tabs-custom.tab-default > .nav-tabs > li.active {
    border-top-color: #d2d6de;
  }

/*== BUTTONS ==*/
.btn-primary {
    color: #fff;
    background-color: #3c8dbc !important;
    border-color: rgb(54, 127, 169) !important;
    border-radius: 3px;
    border: 1px solid transparent;
}
.btnLogout {
    border: 1px solid rgb(118, 28, 25);
    background: rgb(172, 41, 37);
    color: #fff;
}
.btn:hover {
    color: #d2d6de;
}

/*== ALERTS ==*/
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

/*== DIV Script ==*/
.divScript{
    z-index: 100;
    top: 33%;
    left: 55%;
    width: 40%;
    position: fixed;
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.closeDivScript {
    color: #d73814;
}
.divScriptText {
    height: 400px; /*Fixed Value*/
    overflow: scroll;
}

/*== DIV INFO ==*/
.tableInfo {
    font-size: 16px;
}

/*== BUTTON FORM ==*/
.positionButtonForm {
  margin-left: 35%;
}